.footer,
.footerUser,
.footerE2D2,
.footerE2D1,
.footerE2D3{
  /* background: linear-gradient(transparent, var(--bg-two)); */
  /* background-color: var(--bg-thirteen); */
  background-color: var(--bg-ten);
  color: var(--font-six);
  font-size: 0.8rem;
  text-align: center;
  padding: 0 1rem;
}

.footerMain {
  margin: 0 auto;
  padding: 0.5rem 1rem 0;
}

.footerLegals {
  margin: 0 auto;
}

.footerE2D2,
.footerE2D1 {
  background: var(--bg-two-a);
  color: var(--font-four)
}

.footerE2D3 {
  background: var(--bg-nine-a);
  color: var(--font-one)
}

.footerUser {
  background: var(--bg-thirteen-a);
  color: var(--font-four)
}