.impressum,
.privacyPolicy {
  padding-top: 5rem;
  padding-bottom: 2rem;
  min-width: 320px;
  max-width: 1023px;
  min-height: 80vh;
  margin: auto;
}

.impressum h3,
.privacyPolicy h3,
.privacyPolicy h4{
  margin-bottom: 0.5rem;
  padding:0 1rem;
}

.impressum p,
.privacyPolicy p {
  margin: 0;
  padding: 0 1rem 2rem 1rem;
}

.privacyPolicy,
.privacyPolicy h3,
.privacyPolicy h4,
.privacyPolicy p {
  text-align: left;
}