/* desktop */

.containerInvitation {
  position: relative;
  width: 100%;
}

.right-part{
  width: 100%;
  position:absolute;
  top:0;
  left:0;
}


/* not used here */
/*  for laptops, tablets and phones (extra large) */
/* @media screen and (max-width: 1365px) {} */

/* not used here */
/*  for tablets and phones (large)*/
/* @media screen and (max-width: 1023px) {} */

/* without slide */
/*  for smaller tablets and phones  - special*/


@media screen and (max-width: 859px) {
  .right-part {
    width: 100%;
    height: min-content;
    position: relative;
    left: 0%;
  }
}


/* not used here */
/* for phones  - special*/
/* @media screen and (max-width: 694px) {} */

/* not used here */
/* for small phones - special */
/* @media screen and (max-width: 529px) {} */
