/* desktop */

.overlay {
  height: 100%;
  width: 0;
  position: absolute;
  bottom: 0;
  left: 100%;
  right: 0;
  overflow: hidden;
  transition: 0.5s ease;
}

.containerThanks:hover .overlay {
  width: 100%;
  left: 0;
}

.bottom-text h3 {
  margin: 0;
  padding: 1rem;
}

/* not used here */
/*  for laptops, tablets and phones (extra large) */
/* @media screen and (max-width: 1365px) {} */

/* not used here */
/*  for tablets and phones (large)*/
/* @media screen and (max-width: 1023px) {} */

/* without slide */
/*  for smaller tablets and phones  - special*/
@media screen and (max-width: 859px) {
  .overlay {
    width: 100%;
    height: min-content;
    position: relative;
    left: 0%;
    display: flex;
    flex-direction: column;
  }
}

/* not used here */
/* for phones  - special*/
/* @media screen and (max-width: 694px) {} */

/* not used here */
/* for small phones - special */
/* @media screen and (max-width: 529px) {} */
